/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for background image */
.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(../images/game-background-1.jpg) no-repeat center;
    background-size: cover;
    position: relative;

}

/* Styling for game pieces */
#bitcoin {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid gold;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 20px yellow;
}
#spaceship {
    position: absolute;
    top: 45vh;
    right: 0;
    height: 100px;
    width: 100px;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    
}
#ufo {
    position: absolute;
    top: 50vh;
    left: 0;
    height: 100px;
    width: 100px;
    transform: translateY(-50%);
}


/* Styling for Game Instructions */
#instructions {
    /* border: 1px solid pink; */
    text-align: center;
    width: 800px;
    margin: 0 auto;
    padding-top: 50px;
    color: #fff;
    font-family: 'Bungee', sans-serif;
    text-shadow: 0 0 10px blueviolet;
    
}
#instructions h1 {
    margin-bottom: 30px;
    font-size: 50px;
}

/* Styling for Winning Condition */
#winText {
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-family: 'Bungee', sans-serif;
    font-size: 50px;
    padding-top: 30px;
    text-shadow: 0 0 10px #7FDBFF;
    
}

/* Winning Animation */
.won {
    animation-duration: 1.5s;
    animation-name: winning;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-inout;
    animation-fill-mode: forwards;
}

@keyframes winning{
    0% {
        color: white;

    }
    25% {
        color: yellow;
    }
    50% {
        color: aqua;
    }
    75% {
        color: red;
    }
    100% {
        color: white;
        transform: scale(2) rotateY(360deg);
    }
}

/* .remove {
    animation-duration: 1.5s;
    animation-name: blowup;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-inout;
    animation-fill-mode: forwards;
}

@keyframes blowup {
    0% {
        
    }
    50% {
        transform: scale(2);
    }
    75% {
        transfrom: scale(1);
    }
    100% {
        transform: skewX(90deg); 
    }
    100% {
        transform: skewX(90deg); 
    }
} */

/* Media Queries */
@media only screen and (max-width: 360px) {

    #instructions {
        padding-top: 20px;
        width: 100vw;
    }
    #instructions h1 {
        /* margin-bottom: 30px; */
        
        width: 200px;
        font-size: 30px;
        margin: 0 auto;
        padding-bottom: 10px;
        
    }

    #instructions h2 {
        font-family: sans-serif;
        padding-top: 20px;
        font-size: 15px;
        width: 200px;
        margin: 0 auto;
        text-align: center;
    }

    #spaceship {
        position: absolute;
        top: 45vh;
        right: 0;
        height: 50px;
        width: 50px;
        transform: translateY(-50%);
        transform: rotate(-90deg);
    }
    #ufo {
        position: absolute;
        top: 50vh;
        left: 0;
        height: 50px;
        width: 50px;
        transform: translateY(-50%);
    }
    #bitcoin {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #winText {
        text-align: center;
        margin: 0 auto;
        color: #fff;
        font-family: 'Bungee', sans-serif;
        font-size: 20px;
        padding-top: 30px;
        text-shadow: 0 0 10px #7FDBFF;
        
    }
}